<!doctype html>
<html>
  <head>
    <!--Webpage Tab Name-->
    <title>E-Kitten Finder</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" type="text/css" href="/css/global.css">
      <link rel="stylesheet" type="text/css" href="/css/feed.css">

  </head>
  <body>
    <header>
      <!--Site Name-->
      League of Love
      <!--MyMarist Portal-->
      <div id="portal_button">
       <!--Button Name-->
        <img id = redfox src = "images/LoLo.jpg">Find the Xayah to Your Rakan</img>
      </div>
    </header>
    <main>
      <div id="newsfeed">
      
      </div>
    </main>
   <!--Calling JavaScript-->
    <script src="js/feed.js"></script>
    <script src="js/global.js"></script>

  </body>
</html>